.entry-social {margin-bottom: 20px;color: rgb(126, 126, 126);display: block;font-family: 'Open Sans',Tahoma, Verdana, Arial, sans-serif, Faruma, Faseyha;font-size: 14px;font-weight: normal;height: auto;line-height:23.799999237060547px;margin-bottom: 20px;width: 100%;
width: 100%;float:left;border: solid 0px #aaa;text-align: center;}

.entry-social div {display: block;width:138px;margin:2px;display: inline-block;  
    vertical-align: middle;}

.entry-social a {text-decoration:none;display: block;padding-left: 20px;color: #FFFFFF !important;font-weight: bold;transition:background-color .3s;    }

.entry-social .fb a {padding: 7px 10px 7px 26px;background: #3B5999 url('https://razadegatos.info/fb14.png') no-repeat 10px center;}

.entry-social .instagram a {padding: 7px 10px 7px 32px;background: #517fa4 url('https://razadegatos.info/instagram18.png') no-repeat 8px center;}

.entry-social .youtube a {padding: 7px 10px 7px 32px;background: #D54135 url('https://razadegatos.info/youtube18.png') no-repeat 10px center;}

.entry-social .pinterest a {padding: 7px 10px 7px 32px;background: #CB2027 url('https://razadegatos.info/pinterest14.png') no-repeat 10px center;}

.entry-social .fb a:hover {background-color: rgb(50, 75, 129);}
.entry-social .instagram a:hover {background-color: rgb(81, 105, 164);}
.entry-social .youtube a:hover {background-color: rgb(191, 52, 40);}
.entry-social .pinterest a:hover {background-color: rgb(174, 28, 35);}